{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": "10"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "component",
      {
        "libraryName": "mz-weex-ui",
        "libDir": "packages",
        "style": false
      },
      "mz-weex-ui"
    ],
    [
      "component",
      {
        "libraryName": "dolphin-weex-ui",
        "libDir": "packages",
        "style": false
      },
      "dolphin-weex-ui"
    ]
  ]
}
