/node_modules
/dist
/.idea
/.sass-cache
/src/css/.sass-cache
/src/css/*.css
/src/css/*.css.map
*log
**/.DS_Store
/release
/platforms
/publish.zip
/publish

*/*.iml
*/.gradle
*/local.properties
*/.idea
*/build
/.temp

/src/widgets/T0x13
/src/widgets/latest
/yarn.lock
