/.sass-cache
/assets
/build
/dist
/publish
/node_modules
/config.js
/publish.zip
/.idea
/src/css/.sass-cache
*log
**/.DS_Storeg
/.babelrc
/.eslintrc
/.gitignore
/.npmignore
/.temp
/release
/platforms
/webpack.config.js
/configs
/plugins

/src/entry
/src/router
/src/js/mixins.js
/src/views
/src/image
/web